.button{
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.crear{
    margin: 0 auto; 
   width: 300px;   
   background-color: white; 
   padding: 2px; 
   border-radius: 10px; 
}