.news{
    background-color: #F5FBF3;
    width: 64%;
    margin: 4.6rem auto;
    height: 8rem;
    padding: 3rem;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #DECCCA;
    height: auto;
    

}

.titular{
    font-size: 2rem;
}

.delete{
       
    display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  width: 80px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}