.title{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 1rem;
    font-size: 4rem;
    color: #020202;
}


ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem 0rem;
    margin-top: 0;
}

li{
    list-style: none;
    text-decoration: none;
    font-size: 25px;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: #111110;
}